.navigation-bar {
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  height: 3rem;
  border: 2px solid #bb4430;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.navigation-bar ul {
  margin-left: auto;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.navigation-bar a {
  outline: 2px solid transparent;
  display: inline-block;
}

.navigation-bar i {
  font-size: 1.5rem;
  display: inline-block;
}
